.upload {
  border-radius: 10px;
  padding: 10px;
  background: #d4d4d4;
  border: 3px solid #969696;
  width: 350px;
  display: grid;
  gap: 10px;
  button {
    border-radius: 10px;
    padding: 10px;
    background: #ffffff;
    border: 3px solid #969696;
  }
}

.uploadinput {
  border-radius: 10px;
  padding: 10px;
  background: #ffffff;
  border: 3px solid #969696;
}

.loader{
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width:450px) {
  .upload{
    width: 100%;
  }
}